<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controllers.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controllers.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetsController</servlet-name>
        <servlet-class>controllers.AssetsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetsController</servlet-name>
        <url-pattern>/Assets</url-pattern>
    </servlet-mapping>
</web-app>
